.Forecast {
  text-align: left;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.days {
  border: 1px solid #8dc6ff;
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}