

.form-control {
  background: transparent;
  border: 2px solid #8dc6ff;
  margin-left: 30px;
  border-radius: 20px;
}
.btn {
  background: #8dc6ff;
  color: #1c4b82;
  border: none;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%);
  margin-left: 30px;
  border-radius: 20px;
}
.btn:hover {
  color: #8dc6ff;
  background: whitesmoke;
  border: none;
}

#current-location-button {
  width: 40%;
  margin-left: 40px;
}

.description {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  text-transform: capitalize;
}

.main {
  margin-bottom: 80px;
  font-size: 18px;
  text-align: center;
}

.main .active {
  color: #1c4b82;
  cursor: default;
}

.main .active:hover {
  text-decoration: none;
}
.now {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.units {
  font-size: 20px;
}

.values {
  padding-right: 100px;
  font-size: 24px;
}

#fahrenheit-link:hover,
#celsius-link:hover {
  text-decoration: underline;
}

#fahrenheit-link.active:hover,
#celsius-link.active:hover {
  text-decoration: none;
}
#temperature {
  font-size: 50px;
}


#fahrenheit-link,
#celsius-link {
  font-size: 20px;
  text-decoration: none;
}
