
h1 {
  font-size: 48px;
  font-weight: bold;
  padding-left: 30px !important;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #FD5D5D;
}
.icon {
  position: relative;
  top: 11px;
  left: -15px;
}
